# Ignore everything...
/*

# ...except these files
!.gitignore
!configuration.yaml
!automations.yaml
!customize.yaml
!groups.yaml
!scripts.yaml
!/appdaemon/
/appdaemon/*
!/appdaemon/apps/
/appdaemon/apps/*
!/appdaemon/apps/*.yaml
!/appdaemon/apps/*.py
